.header{
	display:flex;
	flex-direction: column;
	width:100%;
	height:30%;
}
.bandeau{
	display:flex;
	background-color:white;
	border:solid black;
}
.logo{
	width:20%;
	height:10%;
	background-color:white;
}
.logo_png{
	margin:0 0 0 2em;;
}
.slogan{
	width:60%;
	
	background-color:white;
}
.slogan_txt{
	text-align:center;
	border:solid black;
	padding:2em;
	
}
.profil{
	width:20%;
	
	background-color:white;
}
.profil_png{
	margin:0 0 0 7em;
	
}
.naviguer{
	background-color:yellow;
}
.naviguer ul
{
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #A4A4A4;
	
}
.naviguer li {
    float: left;
}

.naviguer li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 40px;
    text-decoration: none;
}

.naviguer li a:hover {
    background-color: #7F7F7A;
}