@media screen{
	body {
		/*background-image : url(/AtHome/res/fond1.jpg);
		*/}

	#corps{
		display: flex;
		flex-direction: column; 
		align-items: center;
	}

	#recherche{
		width: 90%;
		margin: 0.8em;
	}

	input{
		background-color: white; 
		border-radius: 1em; 
		padding: 0.2em; 
		width: 100%;    
	}

	#questions_frequentes{
		display: flex;
		flex-direction: column;
		width: 90%;
		align-items: center; 
	}

	p{
		text-align: justify;
	}

	.question{
		padding: 0.5em;
		margin : 0.5em;
		background-color: white;
		border: 1px solid black;
		border-radius: 1em;
		display: flex;
		flex-direction: column;
	}


}