@media screen{
	body {
		background: linear-gradient(to bottom right, rgba(242,246,248,0.7) 0%,rgba(216,225,231,0.7) 50%,
			rgba(181,198,208,0) 51%,rgba(224,239,249,0) 100%) fixed, /*url(/AtHome/res/fond1.jpg)*/ url(/AtHome/res/fond4.jpg) no-repeat center fixed; 
		background-size: cover; /* version standardisée */
		}

	#corps{
		display: flex;
		flex-direction: column; 
		align-items: center;
	}

	#entete{
		display: flex;
		flex-direction: row; 
		width: 90%;
		margin: 0.8em; 
	}

	#ajout{
		flex: 1; 
		right-margin: 1em; 
	}

	#recherche{
		flex: 9; 
	}

	input{
		background-color: white; 
		border-radius: 1em; 
		padding: 0.2em; 
		width: 100%;    
	}

	#questions_frequentes{
		display: flex;
		flex-direction: column;
		width: 90%;
		align-items: center; 
	}

	p{
		text-align: justify;
	}

	.question{
		padding: 0.5em;
		margin : 0.5em;
		background-color: white;
		border: 1px solid black;
		border-radius: 1em;
		display: flex;
		flex-direction: column;
	}
	.pied_article{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
	.gerer form {
		display: flex;
		flex-direction: row;
	}

}