@media screen {
	#main_div{
		padding: 0 3% 0 3%;
	}

	#ajax_search{
		margin: 1em 0 1em 0;
		padding: 0.5em 0 0.5em 3em;
		align-items: center;
	}
	body{
		background: linear-gradient(to bottom right, rgba(242,246,248,0.7) 0%,rgba(216,225,231,0.7) 50%,rgba(181,198,208,0) 51%,rgba(224,239,249,0) 100%) fixed, url(/AtHome/res/fond2.jpg) no-repeat center fixed; 
		background-size: cover;
	}
	table{
		background-color: #0047ab;
		color : white;
	}
	#button_modifier{
		color: white;
		background-color: green;
	}
	#button_modifier:hover{
		cursor: pointer;
		color: green;
		background-color: lightgreen;
	}
	#button_delete:hover{
		cursor: pointer;
		color: red;
		background-color: white;
	}
	#button_delete{
		color: white;
		background-color: red;
	}
	#user_row:hover{
		background-color: lightblue;
		color: #0047ab;
	}

	/*=============================code_popup=============================*/
	#popup_modifier{
		display: none;
		top: 25%;
		left : 25%;
		background-color: white;
		width: 50%;
		height: 20em;
		position: absolute;
		border-radius: 1em;
		border-style: double;	
		border-color: #0047ab;
	}
	#header_modifier{
		padding: 1%;
		color: #0047ab;
		font-weight: bold;
		font-size: 1.1rem;
		border-bottom-style: solid;
		border-bottom-color: #0047ab;
		display: flex;
	}
	#txt_header_modifier{
		width: 95%;
	}
	#close_header_modifier{
		width: 5%;
		color: white;
		background-color: red;
		border-radius: 2em;
		border-style: solid;
		text-align: center;
		cursor: pointer; 
	}
	#body_popup_modifier{
		padding: 5%;

	}
	#formulaire{
		display: block;
		/*background-color: #0047ab;
		border-radius: 2em;*/
	}
	#table_modifier{
		background-color: #0047ab;
		padding: 2%;
		border-radius: 2em;
		width: 100%;
	}
	.register_button{
		color: white;
		font-weight: bold;
		background-color: #0047ab;
		border-radius: 2em;
		border-style: outset;
		width: 50%;
		margin : 0.3em 25% 0 25%;
	}
	.lbl{
		color: #0047ab;
		font-weight: bold;
	}
	.btn{
		color: white;
		font-weight: bold;
		background-color: #0047ab;
		border-radius: 2em;
		border-style: outset;
	}
	.btn:hover{
		cursor: pointer;
		color:  #0047ab;
		background-color: lightblue;
	}
	.register_button:hover{
		cursor: pointer;
		color:  #0047ab;
		background-color: lightblue;
	}
	/*===================================*/
	#fond_noir{
		top: 0%;
		left : 0%;
		display: none;
		width: 100%;
		height: 100%;
		position: absolute;
		background-color:rgba(0, 0, 0, 0.7);
	}

}