body{
	background: linear-gradient(to bottom right, rgba(242,246,248,0.7) 0%,rgba(216,225,231,0.7) 50%,rgba(181,198,208,0) 51%,rgba(224,239,249,0) 100%) fixed, url(/AtHome/res/fond2.jpg) no-repeat center fixed; 
	background-size: cover;
}
#bloc_news{
	margin: 0 5% 0 5%;
	overflow: auto;
	border-style: dashed;
	border-color: #0047ab;
	border-radius: 2em 0 0 2em;
	height: 25.6em;
}
#bloc_msg{
	margin: 0 5% 0 5%;
	overflow: auto;
	border-style: dashed;
	border-color: #0047ab;
	border-radius: 2em 0 0 2em;
	height: 30em;
}
#news{
	height: 10em;
	background-color: rgba(255,255,255,0.8);
	border-radius: 1em;
	margin: 0.5em 0.5em 2em 0.5em;
	padding: 1%;
	text-align: center;
	color: #0047ab;
	display: flex;
	flex-direction: column;
}
.news_title{
	font-weight: bold;
	font-size: 1.5rem;
}
.news_body{

}
#title_bloc{
	display: flex;
	margin: 2%;
	
}
.btn2{
	margin-left: 5%;
}
h1{
	margin-left: 5%;
	font-size: 1.5rem;
}
.input_body{
	height: 6rem;	
}
.mod_btn{

}
#btns{
	display: flex;
	width: 20%;
	margin-left: 40%;
	margin-right: 40%;
}