@media screen{
	body {
		background-image: white;
		background: linear-gradient(to bottom right, rgba(242,246,248,0.7) 0%,rgba(216,225,231,0.7) 50%,rgba(181,198,208,0) 51%,rgba(224,239,249,0) 100%) fixed, url(/AtHome/res/fond2.jpg) no-repeat center fixed;
	}

	#main_div{
		/*div principale contient : leftSide et rightSide, mais pas le header ni le footer*/
		display: flex;
	}
	.txt_{
		
	}

	/*====================================================================================*/
	#leftSide{
		/*contient : menu et favoris*/
		display: flex; flex-direction: column;
		width: 20%; height: 40em;
		margin: 1%;
	}
	#menu{
		margin : 5%;
		height: 50%;
		background-color: white;
		text-align: center;
	}
	#titleMenu {
		font-weight: bold;
		font-size: 1.2em;
		display: block;
		}
	ul {
		list-style-type: none;
		padding: 3%; margin : 3%;
	}
	li a {
		text-decoration: none;
		display: block;
		background-color: #0047ab;
		padding: 8% 8%;
		text-align : center;
		font-weight: bold;
		color: white;
	}
	.notLastLi{
		margin-bottom: 5%;
	}

	#favoris{
		text-align: center;
		margin-left: 5%; margin-right: 5%; margin-bottom: 5%;
		height: 50%;
		background-color: white;
		padding: 10%;
		/*border: 2px outset black;*/
	}

	/*====================================================================================*/
	#rightSide{
		/*contient barre de recherche, navigation et les différentes habitations*/
		display: flex; flex-direction: column;
		width: 70%; height: 40em;
		margin-top: 1%; margin-bottom: 1%; margin-right: 1%;
	}
	#barreSearchNav{
		/*contient barre de navigation et barre de recherche*/
		margin : 1.5%;
		height: 5%;
		background-color: white;
		display:flex;
		background-color: #0047ab;
	}
	.address{
		margin-right:1em;
	}
	.choix_home{
		color: white;
		border: none;
		background-color: #0047ab;

		padding:0.6em;
		cursor:pointer;
	}
	.choix_home:hover{
		background-color : #3366FF;

	}

	#listeMaison{
		display:flex;
		flex-direction:column;
		margin-left: 1.5%; margin-right: 1.5%;
		height: 88%;
		background-color: rgba(0,0,0,0);
		overflow:auto;

	}
	.piece{
		display:flex;
		flex-direction:column;
		width:100%;
		height:38%;
		margin-bottom:0;
		margin-top:1em;
		background-color:white;
		border-radius:1em;
	}
	.infos_principales{
		display:flex;
		width:100%;
		height:20%;
		background-color:#0047ab;
		border-radius:1em 1em 0 0;
	}
	.nom_piece{
		width:20%;
		background-color:#0047ab;
		border-radius:1em 0 0 0;
	}
	.nom_piece p{
		margin-top:0.3em;
		margin-left:0.5em;
		color:white;
	}
	.pb{
		display:flex;
		width:45%;
		height:100%;
		background-color:#0047ab;
	}
	.pb_lien{
		margin-top:0.2em;
		margin-left:1em;
	}
	.pb_lien a{
		color:white;
	}
	.pb_img{
		margin-top:0.2em;
	}
	.details{
		width:5%;
		margin-top: 0.2em;
	}
	.button_details{
		background-color: #0047ab;
		text-decoration: none;
		border:none;
		color:white;
		cursor: pointer;
	}
	.routine p{
		color:green;
		margin:0.2em 0 0 10em;
	}
	.infos_supplementaires{
		display:flex;
	}
	.bloc1{
		width: 15%;
		display:flex;
		flex-direction: column;
	}
	.piece_img{
		margin:1em 0 0.4em 1.3em;
	}
	.gestion_piece a{
		text-decoration: none;
		padding:0.4em;
		background-color: red;
		text-align : center;
		font-weight: bold;
		color: white;
		margin:0 0 0.1em 0.6em
	}
	.liste_capteurs{
		display:flex;
		width:65%;
		height:100%;
		overflow:auto;
		margin-left:2em;
	}
	.capteur{
		margin-left:1em;

	}
	.ajouter_capteur a{
		text-decoration: none;
		padding:0.7em;
		background-color: #0047ab;
		text-align : center;
		font-weight: bold;
		color: white;
		margin-top:20em;

	}
	.switch {
		position: relative;
		display: inline-block;
		margin:0;
		width: 60px;
		height: 34px;
	}

	/* Hide default HTML checkbox */
	.switch input {
		opacity: 0;
		width: 0;
		height: 0;
	}

	/* The slider */
	.slider {
		position: absolute;
		cursor: pointer;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: #ccc;
		-webkit-transition: .4s;
		transition: .4s;
	}

	.slider:before {
		position: absolute;
		content: "";
		height: 26px;
		width: 26px;
		left: 4px;
		bottom: 4px;
		background-color: white;
		-webkit-transition: .4s;
		transition: .4s;
	}

	input:checked + .slider {
		background-color: #2196F3;
	}

	input:focus + .slider {
		box-shadow: 0 0 1px #2196F3;
	}

	input:checked + .slider:before {
		-webkit-transform: translateX(26px);
		-ms-transform: translateX(26px);
		transform: translateX(26px);
	}

	/* Rounded sliders */
	.slider.round {
		border-radius: 34px;
	}

	.slider.round:before {
		border-radius: 50%;
	}
	.ajouter_capteur{
		margin : 3em 0.4em 1em 2em;
	}
	#delete_button{
		margin-top: 10%;
		display: block;
	}
	#popup_ajouter_piece{
		display: none;
		top: 25%;
		left : 25%;
		background-color: white;
		width: 50%;
		height: 15em;
		position: absolute;
		border-radius: 1em;
		border-style: double;
		border-color: #0047ab;
	}
	#header_ajouter_piece{
		padding: 1%;
		color: #0047ab;
		font-weight: bold;
		font-size: 1.1rem;
		border-bottom-style: solid;
		border-bottom-color: #0047ab;
		display: flex;
	}
	#txt_header_ajouter_piece{
		width: 95%;
	}
	#close_header_ajouter_piece{
		width: 5%;
		color: white;
		background-color: red;
		border-radius: 2em;
		border-style: solid;
		text-align: center;
		cursor: pointer;
	}
	#body_popup_ajouter_piece{
		padding: 5%;

	}
	#formulaire{
		display: block;
		/*background-color: #0047ab;
		border-radius: 2em;*/
	}
	#table_ajouter_piece{
		background-color: #0047ab;
		padding: 2%;
		border-radius: 2em;
		width: 100%;
	}
	#register_button_ajouter_piece{
		color: white;
		font-weight: bold;
		background-color: #0047ab;
		border-radius: 2em;
		border-style: outset;
		width: 20%;
		padding:0.5em;
		margin : 2em 25% 0 40%;
	}
	#register_button_ajouter_piece:hover{
		cursor: pointer;
		color:  #0047ab;
		background-color: lightblue;
	}
	#popup_ajouter_home{
		display: none;
		top: 25%;
		left : 25%;
		background-color: white;
		width: 50%;
		height: 15em;
		position: absolute;
		border-radius: 1em;
		border-style: double;
		border-color: #0047ab;
	}
	#header_ajouter_home{
		padding: 1%;
		color: #0047ab;
		font-weight: bold;
		font-size: 1.1rem;
		border-bottom-style: solid;
		border-bottom-color: #0047ab;
		display: flex;
	}
	#txt_header_ajouter_home{
		width: 95%;
	}
	#close_header_ajouter_home{
		width: 5%;
		color: white;
		background-color: red;
		border-radius: 2em;
		border-style: solid;
		text-align: center;
		cursor: pointer;
	}
	#body_popup_ajouter_home{
		padding: 5%;

	}
	.formulaire{
		display: block;
		/*background-color: #0047ab;
		border-radius: 2em;*/
	}
	#table_ajouter_home{
		background-color: #0047ab;
		padding: 2%;
		border-radius: 2em;
		width: 100%;
	}
	#register_button_ajouter_home{
		color: white;
		font-weight: bold;
		background-color: #0047ab;
		border-radius: 2em;
		border-style: outset;
		width: 20%;
		padding:0.5em;
		margin : 2em 25% 0 40%;
	}
	#register_button_ajouter_home:hover{
		cursor: pointer;
		color:  #0047ab;
		background-color: lightblue;
	}


	#popup_mod_piece{
		display: none;
		top: 25%;
		left : 25%;
		background-color: white;
		width: 50%;
		height: 15em;
		position: absolute;
		border-radius: 1em;
		border-style: double;
		border-color: #0047ab;
	}
	#header_mod_piece{
		padding: 1%;
		color: #0047ab;
		font-weight: bold;
		font-size: 1.1rem;
		border-bottom-style: solid;
		border-bottom-color: #0047ab;
		display: flex;
	}
	#txt_header_mod_piece{
		width: 95%;
	}
	#close_header_mod_piece{
		width: 5%;
		color: white;
		background-color: red;
		border-radius: 2em;
		border-style: solid;
		text-align: center;
		cursor: pointer;
	}
	#body_popup_mod_piece{
		padding: 5%;

	}

	#table_mod_piece{
		background-color: #0047ab;
		padding: 2%;
		border-radius: 2em;
		width: 100%;
	}
	#register_button_mod_piece{
		color: white;
		font-weight: bold;
		background-color: #0047ab;
		border-radius: 2em;
		border-style: outset;
		width: 20%;
		padding:0.5em;
		margin : 2em 25% 0 40%;
	}
	#register_button_mod_piece:hover{
		cursor: pointer;
		color:  #0047ab;
		background-color: lightblue;
	}


	#popup_details{
		overflow: auto;
		display: none;
		top: 25%;
		left : 25%;
		background-color: white;
		width: 50%;
		height: 30em;
		position: absolute;
		border-radius: 1em;
		border-style: double;
		border-color: #0047ab;
	}
	#header_details{
		padding: 1%;
		color: #0047ab;
		font-weight: bold;
		font-size: 1.1rem;
		border-bottom-style: solid;
		border-bottom-color: #0047ab;
		display: flex;
	}
	#txt_header_details{
		width: 95%;
	}
	#close_header_details{
		width: 5%;
		color: white;
		background-color: red;
		border-radius: 2em;
		border-style: solid;
		text-align: center;
		cursor: pointer;
	}
	#body_popup_details{
		padding: 5%;
		display: flex;
		flex-direction: column;

	}







	/*===================================*/
	#fond_noir{
		top: 0%;
		left : 0%;
		display: none;
		width: 100%;
		height: 150%;
		position: absolute;
		background-color:rgba(0, 0, 0, 0.7);
	}
	#button_ajouter_piece {
		background-color: #0047ab;
		border: none;
		color: white;
		padding: 1em 3.7em 1em 3.7em;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 16px;
		margin: 0 0 0.7em 0;
		cursor: pointer;
	}
	#button_ajouter_home {
		background-color: #0047ab;
		border: none;
		color: white;
		padding: 1em 3.7em 1em 3.7em;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 16px;
		margin: 0 0 0.7em 0;
		cursor: pointer;
	}
	#button_mod_piece {
		background-color: #0047ab;
		border: none;
		color: white;
		padding: 1em 3.7em 1em 3.7em;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 16px;
		margin: 0 0 0.7em 0;
		cursor: pointer;
	}
	#button_manage_room {
		background-color: red;
		border: none;
		color: white;
		padding: 0.5em;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 16px;
		margin-left: 1.2em;
		margin-bottom: 1em;
		cursor: pointer;
	}

	.echelle{
		margin-top:0.6em;
	}
}
