.header{
	display:flex;
	flex-direction: column;
	width:100%;
	height:30%;
}

.logo{
	width:20%;
	height:10%;
	background-color:white;
}
.logo_png{
	margin:0 0 0 2em;;
}
.slogan{
	width:60%;
	background-color:white;
}
.slogan_txt{
	text-align:center;
	border:solid black;
	padding:2em;
	
}
.naviguer{
	/*background-color:yellow;*/
}
.naviguer ul
{
	display: flex;
	flex-direction: row;
	align-items: space-around; 
	justify-content: space-around;
	flex-wrap: wrap;

	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-radius: 2em;
    background-color: #0047ab;
	
}

.naviguer li {
    float: left;
}

.naviguer li a {
    display: block;
    color: white;
    text-align: center;
    padding: 1em;
    text-decoration: none;
    border-radius: 1em; 
}

.naviguer li a:hover {
    background-color: #7F7F7A;
}

.bandeau{
	
	display:flex;
	height:20%;
	border-radius: 2em 2em 0 0;
}

	#logo{
		height: 80%; width: 100%;
	}
	#bloc_logo{
		margin: auto;
		width: 10%;
		
	}
	#bloc_slogan{
		background-color: white;
		margin: 0 2% 1% 2%;
		width:76%;
		text-align: center;
		display: flex;
		border-radius: 2em;
		border-style: solid;
		border-color: #0047ab;
		background: linear-gradient(212deg, #0047ab, #818283, #0047ab, #818283, #0047ab);
		background-size: 1000% 1000%;

		animation: AnimationName 14s ease infinite;
	}
	#text_slogan{
		margin:auto;
		font-weight: bold;
		font-size: 1.2em;
		color: white;
	}
	#bloc_profil{
		width: 10%;
		
		margin:auto;
	}
	#profil{
		height: 100%;
		width: 100%;
	}
	@keyframes AnimationName { 
	    0%{background-position:0% 52%}
	    50%{background-position:100% 49%}
	    100%{background-position:0% 52%}
	}