<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Untitled Document</title>
<link href="NavigaBar.css" rel="stylesheet" type="text/css">
</head>

<body>
<div id="header">
		<img id="logo" src="logo_png (1).png" width="100px" height="100px">
		<div id="slogan" style="display:inline-block;margin-left: 35%;margin-top:30px; border: solid">
		<img src="屏幕快照 2019-03-18 下午3.42.20.png" width="15px">
		<span style="font-size: 20px"> Bienvenue sur Athome !</span>
		</div>
		<img id="touxiang" src="屏幕快照 2019-03-14 上午9.48.22.png" height="100px" width="100px">
</div>
	<div class="naviga">
	<ul>
 <li><a href="#home">Home</a></li>
  <li><a href="#compte">compte</a></li>
  <li><a href="#consommation">consommation de l'habitat</a></li>
  <li><a href="#aide">Aide</a></li>
	<li><a href="#contact">contact support</a></li>
		<li><a href="#messagerie">Messagerie</a></li>
		<li><a href="#FAQ">FAQ</a></li>
	<li><a href="#Forum">Forum</a></li>
	
	</ul>
</div>
	<div id="bg">
		
		
	</div>
	<div class="naviga">
		<ul>
  <li><a href="#home">Home</a></li>
  <li><a href="#compte">compte</a></li>
  <li><a href="#consommation">consommation de l'habitat</a></li>
  <li><a href="#aide">Aide</a></li>
	<li><a href="#contact">contact support</a></li>
		<li><a href="#messagerie">Messagerie</a></li>
		<li><a href="#FAQ">FAQ</a></li>
	<li><a href="#Forum">Forum</a></li>
	
	</ul>
	</div>
	
	

	




</body>
</html>
